.container { padding: 20px; }
.condition-box { border: 1px solid #ccc; padding: 10px; margin: 10px 0; }
.condition-row { margin: 5px 0; }
textarea { width: 100%; height: 200px; margin-top: 10px; }
.select1,.select2{
    appearance: none;-webkit-appearance: none;/* 去除下拉箭头 */
    -moz-appearance: none;-ms-appearance: none;/* 去除下拉箭头 */
    padding: 5px 10px;border: 1px solid #ccc;
    border-radius: 4px;background-color: #fff;
}
button{padding: 5px 10px;}
.input1{
    width: 50px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}